@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Josefin+Sans&family=Libre+Baskerville:wght@700&family=Open+Sans:wght@800&family=Prompt:wght@200;500&family=Roboto&display=swap");

body {
  max-width: 1024px;
  margin: auto;
  width: 95vw;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 400px) {
  header img {
    width: 250px;
    height: 270px;
  }

  header .buttons {
    column-gap: 20px;
    width: 300px;
    height: 35px;
  }

  #info .section {
    display: block;
    background-color: white;
  }

  body #info {
    padding: 0%;
    margin: 0%;
  }

  .section .left {
    margin: 0px;
    background-color: rgb(230, 225, 225);
    padding: 12px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .section .right {
    margin: 0px;
    background-color: aliceblue;
    padding: 12px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

img {
  display: block;
  margin: auto;
}

header img {
  padding-top: 50px;
}

#name {
  font-size: 27px;
  text-align: center;
  font-weight: bolder;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 1px;
}

#position {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  margin-bottom: 35px;
}

.buttons {
  display: grid;
  margin: auto;
  column-gap: 50px;
  width: 390px;
  height: 35px;
  padding-bottom: 50px;
}

.resume {
  background-color: rgb(115, 113, 122);
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  grid-column: 1/2;
  border-radius: 8%;
}

.contactMe {
  background-color: rgb(115, 113, 122);
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  grid-column: 2/3;
  border-radius: 8%;
}

a {
  color: white;
  text-decoration: none;
}

.resume a:hover,
.contactMe a:hover {
  text-decoration: underline;
  color: rgb(243, 243, 187);
}

#TopSection {
  background-color: antiquewhite;
  margin-bottom: 15px;
  border-radius: 4px;
}

.section {
  display: flex;
}

.left {
  margin-right: 10px;
  margin-left: 140px;
  flex: 1;
}

.left p {
  line-height: 24px;
}

.right {
  flex: 1;
  margin-right: 100px;
  margin-left: 130px;
}

#info {
  background-color: whitesmoke;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-radius: 4px;
}

#honesty {
  background-color: wheat;
  padding: 12px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-radius: 4px;
}

#honesty p {
  margin: 0px;
}

#honesty h1 {
  text-align: center;
}

.Education {
  text-align: center;
  display: grid;
  background-color: rgb(144, 182, 216);
  margin-bottom: 15px;
  border-radius: 4px;
}

.education {
  display: flex;
}

.leftSide {
  flex: 1;
  background-color: rgb(169, 195, 186);
  padding: 10px 20px;
}

.rightSide {
  background-color: #ccc;
  flex: 4;
  padding: 10px 20px;
}

input[type="text"],
textarea {
  width: 100%;
  border: 2px solid rgb(198, 197, 197);
  resize: vertical;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
}

input[type="submit"] {
  color: white;
  background-color: rgb(68, 158, 68);
  padding: 11px 19px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(41, 189, 41);
}

#contactMeContainer {
  background-color: rgb(246, 243, 243);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}
